@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');
/* Definition of the design system. All colors, gradients, fonts, etc should be defined here. 
All colors MUST be HSL.
*/

@layer base {
  :root {
    --background: 0 0% 0%;
    --foreground: 0 0% 100%;

    --card: 0 0% 10%;
    --card-foreground: 0 0% 100%;

    --popover: 0 0% 0%;
    --popover-foreground: 0 0% 100%;

    --primary: 174 66% 55%;
    --primary-foreground: 0 0% 0%;

    --secondary: 0 0% 10%;
    --secondary-foreground: 0 0% 100%;

    --muted: 0 0% 20%;
    --muted-foreground: 0 0% 87%;

    --accent: 174 66% 55%;
    --accent-foreground: 0 0% 0%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 100%;

    --border: 0 0% 20%;
    --input: 0 0% 20%;
    --ring: 174 66% 55%;

    --radius: 0.75rem;

    --glow: 166 88% 66%;
    --glow-rgb: 92 246 182;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  html,
  body {
    width: 100%;
    overflow-x: hidden;
  }

  body {
    @apply bg-background text-foreground;
    font-family: 'DM Sans', ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Segoe UI Emoji";
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: 'DM Sans', ui-sans-serif, system-ui, sans-serif;
  }
}
.dm-sans {
  font-family: 'DM Sans', sans-serif!important;
}